
*{
	box-sizing: border-box;
}
main{
	max-width: 3000px;
}
.top-wrapper{
	background-image:url("background1_edit2k.jpg"); 
	background-size: cover;
	color:white;
	padding-top: 200px;
	padding-bottom:100px;
}
.top-wrapper:hover .container h1{
	animation-name:anim-h1;
	animation-duration: 1.5s;
	position:relative;
}
.top-wrapper:hover .container p{
	animation-name:anim-p;
	animation-duration: 1.5s;
	position:relative;
}
@keyframes anim-h1{
	0% 	{top:-50px;opacity: 0.0;}
	50%{top:0px;opacity:1.0;}
}

@keyframes anim-p{
	0% 	{top:-50px;opacity: 0.0;}
	50% 	{top:-50px;opacity: 0.0;}
	100%{top:0px;opacity:1.0;}
}

.container{
	width:100%;
	padding-left:15px;
	padding-right:15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	opacity:0.8;
}
.logo{
	width: 700px;
	filter:brightness(1000%);
}
.container h1{
	margin-top:100px;
	margin-bottom:0px;
	font-size:150px; 
	font-family: "Franklin Gothic Medium";
	font-weight:bold;
	letter-spacing: 10px;
}
.container p{
	margin:0px;
	padding-top:0px;
	font-size:50px;
	font-weight: bolder;
}
.btn-wrapper{
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:800px;
}
.btn{
	padding:20px 50px;
	margin-bottom:30px;
	display: inline-block;
	font-size: 70px;
	font-weight: bolder;
	text-decoration: none;
	opacity: 0.7;
	font-family:"Franklin Gothic Medium";
	border-radius: 30px;

}
.menu{
	color:black;
	background-color:#f0932b;
	box-shadow: 0px 10px 70px #e84118
}
.order{
	color:black;
	background-color:#f0932b;
	box-shadow: 0px 10px 70px #e84118
}
.menu:hover{
	background-color:#ffda79;
	box-shadow: 0px 10px 70px #fff118;
}
.order:hover{
	background-color:#ffda79;
	box-shadow: 0px 10px 70px #fff118;
}


.profile{
	height: 1000px;
	padding:50px 15px;
	margin:auto;
}
.p-container{
	text-align: center;
	margin:auto;
	max-width: 2500px;
	background-color: rgba(236, 240, 241,1.0);
	width: 100%;
	height: 100%;
	padding: 20px 15px;
	margin-top:30px;
}
.img-profile{
	float:left;
	height:100%;
	width: 50%;
	text-align: center;
}
.img-profile img{
	height: 100%;
	box-shadow: -5px 10px 80px rgb(205 97 51);
}
.text-container{
	float:right;
	border-left:10px solid #84817a;
	width:50%;
	height: 100%;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 80px;
	padding-bottom: 20px; 
}
.text-container h2{
	font-size: 80px;
	font-family:"Lucida Handwriting";
	color:rgba(205, 97, 51,1.0);
	text-align: center;
}
.text-container p{
	color: rgba(75, 75, 75,0.8);
	font-size: 50px;
	font-family:"Franklin Gothic Medium";
	font-weight:normal;
	text-align: left;
}
